Django
qrcode
Pillow  # Required for QR code generation
requests  # For IP intelligence API calls
python-dotenv  # For environment variable management
gunicorn  # For production deployment
whitenoise  # For static file serving
django-cors-headers  # For handling CORS
django-ratelimit  # For rate limiting 
mysqlclient
